html {
    background: #121819;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Убираем горизонтальный скролл */
}
main{
    background: linear-gradient(#122627 0%, #121819 100%);

}
.icon{
    height: 132px;
    width: 132px;
}
header, .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #122627;
}

header img {
    height: 56px;
    margin-right: 20px; /* Добавляем отступ справа от картинки */
}

.main-title {
    flex-grow: 1;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 50px;
}

.main-title + img {
    display: block;
    margin: 0 auto 20px;
    width: 130px;
    height: auto;
}

.blocks {
    display: grid;
    gap: 50px;
    padding: 20px;
    margin: 0;
    height: auto;
    grid-template-columns: repeat(4, 1fr); /* По умолчанию 4 колонки */
}

.blocks > a {
    border-radius: 20px;
    background: linear-gradient(#0b8379 0%, #08625b 100%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    position: relative;
    text-decoration: none; /* Убираем подчеркивание ссылки */
}

.blocks > a:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: #084e4a;
}

.blocks > a img {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 15px;
}

.blocks > a h1 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.blocks > a p {
    margin: 0;
    color: white;
    font-family: FreeMono, monospace;
    font-size: 18px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничиваем количество строк */
    -webkit-box-orient: vertical;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 12px; /* Увеличиваем размер шрифта футера */
    padding: 20px 0;
}

footer a {
    display: inline-block;
    margin-bottom: 10px;
}

footer img {
    height: 62px;
}

footer p {
    margin: 0;
    color: white;
    font-size: 12px;
}

/* Адаптивные медиа-запросы */

/* 3 колонки на экранах шириной до 1200px */
@media (max-width: 1200px) {
    .blocks {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 2 колонки на экранах шириной до 900px */
@media (max-width: 900px) {
    .blocks {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 1 колонка на экранах шириной до 600px */
@media (max-width: 600px) {
    .blocks {
        grid-template-columns: 1fr;
    }
}

button {
    background: none;  /* Убирает заливку */
    border: none;      /* Убирает обводку */
    padding: 0;        /* Убирает внутренние отступы */
    margin: 0;         /* Убирает внешние отступы (если нужно) */
    outline: none;     /* Убирает стандартное выделение при фокусе */
    box-shadow: none;  /* Убирает тени */
    cursor: pointer;   /* Меняет курсор на указатель */
}
.filter{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
}
.filter select {
    height: 40px;
    margin: 17px 0 20px 20px;
    outline: none;
    background-color: #0b8379;
    border-radius: 10px;
    border: none;
    color: white;
    width: 280px;
    font-size: 16px;
    text-align: center;
}
